#dis_play {
    
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 250 250 250;
    grid-template-rows: 250 250 250;
    grid-template-areas:
                "img img img"
                "img img img"
                "img img img";
    grid-row-gap: 25px;
    grid-column-gap: 25px;


}
hr {
    margin-top: -40px;
    color: rgb(199, 21, 199);
}
a:link {
    color: rgb(199, 21, 199);
    text-decoration: none;
    font-family: cursive;

}
a:visited {
    color: rgb(199, 21, 199);
    text-decoration: none;
    font-family: cursive;

}
a:hover {
    color: black;
    text-decoration: none;
    font-family: cursive;

}
#contact {
    color: rgb(199, 21, 199);
    text-decoration: none;
    font-family: cursive;

}